[2016-10-11 11:02] cjus opened #1 "Function to retrieve routes table"
There should be a function to retrieve service route table from redis.

[2016-10-11 11:04] cjus opened #2 "Don't allow service names with a colon character."
Service should fail to initialize if it encounters a service name with a colon character. The reason for this is because colon characters are used to delineate key segments in Hydra's use of Redis.

[2016-10-11 11:31] #1 closed, assigned to nobody

[2016-10-11 20:08] cjus opened #4 "Document hydra single instance use"
Document the fact that the intended use of hydra is one per process instance.

[2016-10-11 20:10] cjus opened #5 "Throw exception if already initialized."
Hydra should throw an exception if already initialized.

[2016-12-16 15:50] cjus opened #27 "Improve makeAPIRequest to make other service requests if an error is encountered"
The hydra `makeAPIRequest` call currently makes a remote request and, as expected, returns the status of that request. So if a call to a service is made and the service isn't available or returns an HTTP 5XX class error then that response is immediately returned - despite the fact that there maybe other service instances available. Ideally makeAPIRequest should attempt to contact other available s

[2017-01-05 13:24] cjus commented on #27
completed by https://github.com/flywheelsports/fwsp-hydra/commit/9bbbaff7b19c9793daa65dcc6757ae137ea2eaa5

[2017-01-05 13:24] #27 closed

[2017-01-05 14:14] tWinE-xx opened #34 "When redis is down, the init function does not resolve/reject its promise."
When redis is down, the init function does not resolve/reject its promise.
index.js line 125  ->  this.redisdb.select(HYDRA_REDIS_DB, (err, result) => {
never gets into callback somehow when redis is down

[2017-01-05 15:51] cjus commented on #34
Thanks for this issue. Hydra implements Redis connection retries here: https://github.com/flywheelsports/fwsp-hydra/blob/master/index.js#L197

The behavior is that your application will exit if an underlying connection can't be established with Redis. The reconnection logic can take up to a minute before terminating.

That said, you're correct about the init promise not rejecting in this situation

[2017-01-05 18:14] cjus commented on #34
closed by #35

[2017-01-05 18:14] #34 closed

[2017-01-07 16:09] rogovdm opened #36 "Unable to connect to redis"
*index.js*
[code]

*config.json*

[code]
url and port are hidden for purpose.

*Terminal*

[code]

[2017-01-07 16:17] rogovdm commented on #36
Okay. Seems that docs are misleading.

https://dl.dropboxusercontent.com/spa/sy5tiz1zn952c15/lx90ab2w.png

From https://github.com/flywheelsports/fwsp-hydra/blob/master/documentation.md

[code]
needs to be
[code]

[2017-01-07 19:11] emadum commented on #36
@rogovdm Yes the docs aren't clear there. I'll update them, thanks for the feedback!

[2017-01-07 19:16] #36 closed

[2017-01-11 15:23] emadum opened #37 "Allow more options for redis connection"
redis.createClient supports a number of invocation formats:

1. redis.createClient([options])
2. redis.createClient(unix_socket[, options])
3. redis.createClient(redis_url[, options])
4. redis.createClient(port[, host][, options])

We're currently using 4, but we're not passing through options we don't use. I think it'd be better to use 1, and pass through options from the hydra.redis config entry

[2017-01-11 16:16] emadum commented on #37
[docs for redis.createClient](https://www.npmjs.com/package/redis#rediscreateclient)

[2017-01-13 15:50] #37 closed

[2017-01-14 09:01] k33g opened #39 "Unable to connect to redis db"
Hi 👋

I would like to connect to the redis db with something like that:
[code]

If i use directly node redis client, it's ok:

[code]

But with Hydra, I get some errors:

[code]

so I don't understand how to set correctly my connection to redis

Can you help me please? 🙏  😄

[2017-01-14 17:11] emadum commented on #39
We fixed this in [0.14.0](https://github.com/flywheelsports/fwsp-hydra/pull/38). I just published it on npm, so try updating and seeing if it works for you now.

[2017-01-17 16:43] cjus commented on #39
@k33g Let us know if the 0.14.2 addresses your need.

[2017-01-18 08:16] linde12 opened #42 "fwsp-hydra examples"
Hello!

First things first, i think this is great! It's nice to have this package which bundles together the essentials for quick development of service-based applications!

However it would be great to see some examples of a real-world application.

Right now i'm kind of confused how hydra-express integrates with hydra. Some clarification with an example project would be lovely.

I'm also curious

[2017-01-18 14:41] emadum commented on #42
Hi @linde12. Definitely agree that a simple example project would be very helpful, and we'll be putting out some practical examples soon. In the meantime, I'd recommend checking out @cjus's [tutorial](https://community.risingstack.com/tutorial-building-expressjs-based-microservices-using-hydra/) if that isn't what brought you here.

You can definitely do some sort of RPC communication between serv

[2017-01-19 18:35] cjus commented on #42
@linde12 I'm working on a post for RisingStack which will focus on hydra messaging using sendMessage and related functions. The article should be published around the end of this month. We'll let you know when that's available.

[2017-01-19 22:22] linde12 commented on #42
@emadum Ah, yes i read that article. It was great and was what got me started. I see, but it's nothing that's built-in? To clarify what i want to do is something like this:

[code]

@cjus That would be great, it's an important topic so some clarification would be great.

Again, great looking project. Can't wait to get started! :+1:

[2017-01-25 04:45] miksansegundo opened #43 "Update Websockets Messaging Documentation"
Hi there,

seems like the docs about Websockets Messaging is not updated, for example the use of the
 method **sendReplyMessage**.

I have a question, the only way to know If a message is coming from one service of other is checking the **from** property of the message, right?

[2017-02-13 12:44] cjus commented on #42
@linde12 here's an article that covers messaging in Hydra.

https://community.risingstack.com/building-a-microservices-example-game-with-distributed-messaging/

[2017-02-13 12:45] #39 closed

[2017-02-13 12:50] cjus commented on #43
@miksansegundo The documentation could certainly use some updates. What did you feel was missing or out of date in the section that covers sendMessageReply? https://github.com/flywheelsports/fwsp-hydra/blob/master/documentation.md#inter-service-messaging

Yes, checking the from field is how you determine where a message came from and the `via` field can be useful as well. See: https://github.com/c

[2017-02-13 16:24] miksansegundo commented on #43
@cjus Thanks for your answer.
About the sendReplyMessage method, I have reviewed it and it's well explained and it's working so really don't know what happened that day I read the docs. lol Nevermind :)

[2017-02-13 16:24] #43 closed

[2017-02-14 15:08] k33g opened #44 "redis url does not work"
Hello,

With `fwsp-hydra-express` I can  set the url of redis like this

[code]

and it's ok

but with the `fwsp-hydra` it's impossible to connect to the redis db

[2017-02-24 16:24] jedsmithobd opened #46 "Documentation links to the Slack team for flywheelsports which is password protected"
The documentation has a link to Slack that requires a sign in to join. It is great to have a slack channel to talk about Hydra, but it would be even better if I could join the discussions ;)

[2017-02-25 18:57] cjus commented on #46
@jedsmithobd not sure how to open Slack up to just allows signup. But if you send me an email at cjus34@gmail.com I'll send you an invite.

[2017-02-27 09:51] jedsmithobd commented on #46
I think I have seen a slack auto invite that a colleague used for his slack channel. I will see if I can find the link for you.

[2017-02-27 15:20] cjus commented on #46
I did see that too, but it seemed to be tied to domain names. @jedsmithobd saw your email, I'll add you manually. You should see an invite soon.

[2017-02-27 16:13] cjus commented on #42
@linde12 here you basically need to use Hydra's `hydra.on('message', function(message) {})` and hydra.sendMessage call.  There's nothing yet to do this automatically. Join us on our fwsp-hydra@slack.com account to discuss this further with the team. Send me an email to cjus34@gmail.com and I'll send you an invite.

[2017-02-27 18:11] emadum commented on #44
Hi @k33g, are you using the latest version of fwsp-hydra? Do you get any error message? I'm unable to reproduce in this in hydra 0.14.3.

[2017-02-27 20:14] linde12 commented on #42
@cjus Ah, i see! Sent you an email and closing this for now! Thanks!

[2017-02-27 20:14] #42 closed

[2017-02-28 10:00] jedsmithobd commented on #46
I found an example of what I was looking for. [https://github.com/outsideris/slack-invite-automation](https://github.com/outsideris/slack-invite-automation). It is basically a simple server that lets an individual enter an email and then automatically sends them an invite.

It also looks like it can be deployed to Heroku or Azure to make it even easier to implement.

[2017-03-01 07:25] k33g commented on #44
Hi @emadum you're right, I tried with hydra 0.14.3. and 0.14.4 and it's ok (I used an old project)
sorry for that and thank you for the answer

[2017-03-01 07:25] #44 closed

[2017-03-14 15:14] cjus opened #54 "Convert redis.createClient calls to client.duplicate"
In Hydra, channel messages are created using new Redis client - we should be able to duplicate (clone) the existing Redis client whereby consolidating reconnection handling.

[2017-03-14 15:42] #54 closed

[2017-03-31 11:00] drosi94 opened #75 "hydra makeAPIRequest, queryparameters"
Hello, i would to send an api request to one microservice using query params

  hydra.makeAPIRequest(hydra.createUMFMessage({
    to: 'users-service:[get]/api/users' + '?email=' + email + '&password=' + password,
    from: 'authentication-service:/',
    body: {}
  }))
I got this error to response:

![capture](https://cloud.githubusercontent.com/assets/3253526/24547810/634d8240-161a-11e7-9e6c-8a09

[2017-04-01 14:09] cjus commented on #75
@drosi94 I'll look into this - thanks for reporting!

[2017-04-02 04:55] cjus commented on #75
@drosi94 A quick update. The issue is that makeAPIRequest doesn't properly handle query params. Under the hood, makeAPIRequest using the [node request module](https://www.npmjs.com/package/request). Looks like it might be necessary to use node's querystring module to parse the query string and properly send it to the request modules option param. I'll test this and create a patch this weekend.

[2017-04-02 17:54] cjus commented on #75
@drosi94 can you post a code snippet for your user-service /api/users route handler?

[2017-04-02 17:59] cjus commented on #75
When using query strings with express you need to use `response.query.email` and `response.query.password` to get at the values. Unless you define your routes this way: `/api/users/:email/:password`.  See: http://junerockwell.com/difference-parameters-query-strings-express-js/

[2017-04-06 15:38] cjus commented on #75
@drosi94 closing this issue.

[2017-04-06 15:38] #75 closed

[2017-04-06 19:07] drosi94 commented on #75
Thank you very much!

[2017-04-21 11:51] waglik opened #92 "Running Hydra on AWS Elasticache"
I am trying to run Hydra app on AWS Elasticache but unfortunately I got

error. It is caused by the fact that config command is restricted on AWS ElastiCache. Is there a way to start hydra without calling config command?

[2017-04-21 17:22] cjus commented on #92
@waglik where do you see that error? Not sure I follow. Please provide more information on how you're running your application that uses Hydra and perhaps an example of your config file.

[2017-04-22 08:54] waglik commented on #92
@cjus I've created simple hydra application and then wrapped it into Docker image. When I run it locally on Redis running on local host it is fine. But when I run Docker image on AWS ESC it fails when starting. Reason is that AWS ElastiCache (this is my Redis instance) does not allow CONFIG command.

here is my config file

`{
  "environment": "development",
  "hydra": {
    "serviceName": "facebo

[2017-04-22 13:53] cjus commented on #92
@waglik one thing you could try is backing the config into the service - not ideal - but good for seeing whether this is the only issue.

Just create a JS object for your config and pass it into the hydra.init() call.  Are you using hydra or hydraExpress? If hydraExpress then just pass the JavaScript object representing your config to hydraExpress.init.
https://github.com/cjus/hello-service/blob/m

[2017-04-22 13:54] cjus commented on #92
@waglik also, are you also using AWS Elastic Container Service?

[2017-04-22 14:25] waglik commented on #92
@cjus I am using hydra. I've added couple of loggers so I am pretty confident that this fails in the init method. If I remove config.init() it works fine.

Yes I am using ECS. I also checked connection with telnet so this is not an issue.

Stack tracke :
[code]

[2017-04-23 00:53] cjus commented on #92
@waglik Are you saying that if you don't use config.init() to load a config file then you don't have an issue?

Does your redis url looking something like this? `test-dev-redis1.p42rev.0001.usw1.cache.amazonaws.com` and do you have a password on it?

You can try to format your config this way:

[code]

Let me know if that makes a difference.

[2017-04-23 03:09] derrickpelletier opened #97 "Alternative to IP based services?"
Has it been considered to also support service registry by providing a service host rather than only an IP?

I was interested in using `hydra` to register services deployed via http://zeit.co/now
Unfortunately they are not accessible via IP address, as the hostname is used for routing.

I considered just putting the hostname in the `description` property but it is pretty hacky. Any better suggesti

[2017-04-24 02:38] cjus commented on #97
@derrickpelletier this isn't something we've considered. How would ports work? And multiple instances of a service?

[2017-04-24 02:40] cjus commented on #97
I've heard about `now` but haven't tried it. I did try to visit the site just now - but looks like there's an issue at the moment.
<img width="809" alt="cursor_and_https___zeit_co_now" src="https://cloud.githubusercontent.com/assets/387129/25320515/d2808564-2875-11e7-878b-e86938dba146.png">

[2017-04-24 07:00] waglik commented on #92
@cjus I've added some more logging. Code looks like that :

[code]

Output is :

[code]

I'm using xyz-cluster.rmz72x.0001.euc1.cache.amazonaws.com cluster link and in config.json :

[code]

[2017-04-24 15:04] emadum commented on #92
I'm not sure why it is trying to execute a CONFIG command. I couldn't find any calls to it in the node-redis module source, and we're not calling it directly from Hydra or Hydra Express. I can't see how it could have anything to do with loading config.json. @waglik, your code and config look OK to me. We're also using AWS Elasticache and haven't run into this issue.

Could you try connecting to re

[2017-04-24 16:04] cjus commented on #92
@waglik @emadum I think the issue might be that `hydra.init` requires a config JSON and not a config object. It's necessary to call hydra.init this way:

[code]

Also see: https://github.com/flywheelsports/fwsp-config/blob/master/index.js#L18

[2017-04-24 16:43] derrickpelletier commented on #97
@cjus hah, bad luck. It's up now.

I hadn't considered it much further. I guess I would expect multiple instances to work as unique hostnames? I know at least for `now`, clustering/scaling is handled on their end.

To what end would ports be necessary? I guess I envisioned using `hydra.findService` and using the returned service-info to make my requests. Are there other hydra apis that wouldn't be

[2017-04-24 16:59] waglik commented on #92
@cjus just tried and gives same result. Beside same docker image works locally against Redis running on my localhost. So I am confident that issue is with AWS Redis and not with the code itself. From what I found AWS Redis does not allow calling CONFIG command. Is hydra calling that command inside init() method?

[2017-04-24 20:42] emadum commented on #92
@waglik did you see my comment above?

[2017-04-25 05:24] DeMack opened #101 "Invalid Hash Method"
Line 1204 of index.js points to a method called `Utils.stringHash(channel),` however that method doesn't exist in utils.js. The nearest method is `md5Hash(key).` While trying to call the first method, messages don't get processed. Changing to the latter corrects the problem.

[2017-04-25 10:50] #101 closed

[2017-04-25 10:50] cjus commented on #101
@DeMack Thanks. Fixed in Hydra 1.2.7

[2017-04-26 07:00] waglik commented on #92
@emadum no, sorry.

I've made changes you suggested and I got :
[code]

code :
[code]

[2017-04-26 17:17] emadum commented on #92
@waglik what version of node are you using?

[2017-04-26 17:37] cjus commented on #92
@waglik Hydra requires Node 6.2.1 or greater.

[2017-04-26 18:48] waglik commented on #92
@emadum @cjus Docker file says "FROM node:6.3" , it's the one generated by Hydra.

[2017-04-26 19:22] cjus commented on #92
@waglik Would you be interested in doing a skype call?  I'm at cjustini34
If so I'd like to find a time when we can step through the issue you're experiencing. I'm in New York.

[2017-04-26 19:35] waglik commented on #92
@cjus I really appreciate that. I've sent you skype invite, let me know when is a good time. I am in EET time zone most of the time.

[2017-04-27 22:40] cjus commented on #97
@derrickpelletier if you're available next week I'd like to discuss over skype. @cjustini34

[2017-04-27 22:47] cjus commented on #92
@waglik accepted. I should be able to do a call during your evenings.

[2017-05-02 18:42] cjus opened #111 "Improve redis reconnection logic"
Hydra should attempt reconnection logic before and during runtime.

[2017-05-10 23:53] parweb commented on #97
I'm very interested too ;)

[2017-05-11 06:35] limay commented on #97
Me too.

I made a quick test last week removing "host to IP" functionality from Hydra and using it with domains, and everything was looking good!! I didn't see any problem.

@cjus Is there any reason why Hydra needs only IP?

Thanks

[2017-05-11 08:22] parweb commented on #97
@limay can tou explain a bit more what did you do ?

[2017-05-11 11:22] cjus commented on #92
@waglik I'm still interested in a skype call if you have time ;-)

[2017-05-11 11:23] cjus commented on #46
Closing for now. Until we have time to implement this.

[2017-05-11 11:23] #46 closed

[2017-05-11 11:26] cjus commented on #97
@limay this idea is really growing on me! @derrickpelletier thanks for raising this opportunity!
@limay I don't think so. There's no reason hydra should care whether an IP is used or a DNS entry! Hydra-router shouldn't either - but that's something to test as well.

[2017-05-12 05:01] waglik commented on #92
@cjus I am sorry I missed the notifications. I will ping you today. thanks!

[2017-05-14 01:46] cjus commented on #97
@derrickpelletier @limay @parweb you can try an experimental release:

* $ npm install hydra@1.3.9-experimental
* $ npm install hydra-express@1.4.4-experimental

Just specify a DNS name in your service config:

[code]

[2017-05-14 01:54] #4 closed

[2017-05-15 14:48] #2 closed

[2017-05-30 16:05] cjus commented on #97
@derrickpelletier @limay @parweb hydra-express now supports DNS usage via the new `serviceDNS` entry. Simply place the DNS name of your service in that field and it will work with external load balancers.  I've tested this inside of a docker swarm using the swarm DNS.  Can one of you test this in your usecase so I can close this ticket? ;-)

[2017-05-30 16:06] cjus commented on #92
An update on this ticket. @waglik and I had a skype call to discuss and I'm in the process of setting up an AWS ECS cluster for testing this issue.

[2017-05-30 20:07] limay commented on #97
@cjus Sorry for the delay! I'm eager to try your solution but I find a second until now. Let me test it and I reply here ASAP. Thanks!

@parweb Sorry! Basically, I bypassed a code that checked if serviceIP is a valid IP and put the url (and it worked fine!) But it doesn't matter anymore because serviceDNS seems a good solution.

[2017-06-02 02:29] derrickpelletier commented on #97
@cjus will try it out this weekend, thanks!

[2017-06-07 04:24] peatidge opened #132 "Would be great if you could provide typesccript definitions for hydra, hydra-express ..."
Would be great if you could provide typesccript definitions for hydra, hydra-express ...

[2017-06-20 17:03] cjus opened #135 "Improve error handling when service config isn't found in redis"
Consider a better way of addressing this exception.

[code]

[2017-06-20 17:10] cjus commented on #97
@derrickpelletier @limay @parweb I'd like to close this ticket if possible.

[2017-06-26 04:37] paulwaksmonski opened #136 "Add a config option to not shorten UMF messages"
This would be useful where message sizes do not need to be small.

[2017-06-30 13:01] cjus commented on #136
@paulwaksmonski definitely this is an area that needs work. I also don't love the ideal of switching back and forth between short and long form UMF messages. The issue I have with config files is that the behavior can be different between microservices and even instances of a particular microservice potentially leading to interoperability problems.  At some level perhaps switching completely to sh

[2017-06-30 13:02] cjus commented on #132
@peatidge I'm really warming up to this idea! We've been so busy lately that no one has gotten around to this. I'll post a link to this point in our slack channel to see if anyone will take up the task!

[2017-07-18 03:58] techwizardg opened #138 "How to add new services with out restarting API gateway /hydra-router?"
This is not a bug but not sure where to ask? How do i add new microservices in hydra with out restarting API gateway or hydra-router?

[2017-07-18 19:31] cjus commented on #138
@techwizardg when a hydra-enabled service starts it tries to send broadcasts a message to listening hydra-router (if any) and at that point new / changed routes are updated. So if this isn't working for you it's a bug. As a work-around for now - you can send a message to a hydra-router to update it's known routes using: http://localhost:5353/v1/router/refresh.

[2017-07-21 11:37] tolik93 opened #139 "findService() returns incomplete object"
Hello,
i am trying to use hydra in my project. I wanna get ip address and port of service.
hydra.findService('test-service') returns an object with only 3 properties:
{"serviceName":"test-service","type":"","registeredOn":"2017-07-21T11:25:14.530Z"}

How can I get ip and port?

Thx

[2017-07-21 12:04] cjus commented on #139
@tolik93 see: getServicePresence : https://www.hydramicroservice.com/docs/hydra-core/hydra-methods.html

[2017-07-21 12:09] tolik93 commented on #139
@cjus Thank you. I missed this method

[2017-07-21 12:09] #139 closed

[2017-07-28 17:32] cjus opened #140 "Add getServiceNodes() to documentation"
https://www.hydramicroservice.com/docs/hydra-core/hydra-methods.html

[2017-07-29 14:45] skalyanapu-mtuity opened #141 "How to view hydra key-value pairs in native redis cli ??"
Firstly, thank you for awesome module.

I know using hydra-cli , I can get total list of nodes,routes etc . I'm curious how hydra really use redis to store this key-value pair.

Once everything up and running, I tried view hydra service related registries in redis server using redis-cli, but unable to see anything ?? Is there any best approach?

Regards,
Sai.

[2017-07-29 14:48] cjus commented on #141
@skalyanapu-mtuity Thank you for trying Hydra!

When you connect to redis make sure to select database 15 or which ever redis database you're using.

[code]

You should see keys there. Also I recommend trying Medis if you're using a mac: http://getmedis.com/

[2017-07-29 15:50] skalyanapu-mtuity commented on #141
@cjus Yes! I missed it.
Thank you !!

[2017-07-29 15:50] #141 closed

[2017-07-29 23:48] cjus commented on #141
@skalyanapu-mtuity no worries - thanks again for trying Hydra!

[2017-07-31 04:06] skalyanapu-mtuity opened #142 "Swagger integration was not seamless using hydra Express !!"
Hello @cjus ,

I'm using the hydra-express wrapper, tried some ways and suggestion by the community but unable to integrate swagger hydra-express app, could please suggest me in this regards !!

Thanks for your time :)

Regards,
Sai.

[2017-08-09 20:37] danielsan opened #147 "How to integrate with Netflix Eureka?"
Hi everyone,

I'm trying to choose a microservices framework to use with node
but I really need to be able to integrate it with Eureka since we already have a
microservices infrastructure using Eureka :'(

Does anybody know how one could integrate hydra with Eureka for service register/discovery?

I don't necessarily want to make the hydra microservices to discover each other using Eureka.
I want

[2017-08-10 22:12] cjus commented on #147
@danielsan I recommend you also post in our Slack group: https://fwsp-hydra.slack.com

[2017-08-16 20:19] #138 closed

[2017-08-16 20:19] #97 closed

[2017-08-16 20:22] cjus commented on #142
@skalyanapu-mtuity marked this as an enhancement to see if anyone has time to devote to it.

[2017-08-17 22:41] cjus opened #152 "Use redis scan instead of keys"
Identified by @emadum as a potential performance enhancement.
https://stackoverflow.com/questions/32603964/scan-vs-keys-performance-in-redis

[2017-09-10 02:40] j3ddesign commented on #92
Hi I'm looking into using hydra, it will be running on AWS - I just noticed this issue and wanted to check in and see if this is still an ongoing problem? :)
Excited to use Hydra, it looks great!

[2017-09-11 19:02] cjus commented on #92
@j3ddesign I never did get to test this. If you try it let us know what you find and we'll offer support. Recommend you sign up for our slack channel where others are on-hand to weigh in.

[2017-09-13 11:17] chris9r opened #153 "How to connect to redis via unix socket?"
Unfortunately I am hosting my projects on a virtual host and the only way I can access my redis instance is using unix sockets.

Is there any way to pass the path to the socket file in hydra?

[2017-09-13 11:33] cjus commented on #153
@chris9r this isn't something we've tried.  However, by quick search I've found this:

https://serverfault.com/questions/591193/single-redis-instance-with-local-redis-connections-via-unix-socket-and-remote-vi

which shows how to configure Redis to use a unix socket.  And Hydra uses the node_redis package which documents passing a unixsocket path: https://github.com/NodeRedis/node_redis#rediscreate

[2017-09-13 11:54] chris9r commented on #153
@cjus I tried this approach and it doesn't work.

I could configure my redis socket in this file.

If you have redis-server running on the same machine as node, then the defaults for port and host are probably fine and you don't need to supply any arguments.

Then I could use the redis-server package to read in the redis.conf. But, as I read in the documentation from my hoster, the reason why the

[2017-09-14 18:35] emadum commented on #153
Hi @chris9r, I took a look at the Redis createClient docs - it looks like it expects the unix socket as the 'path' option.

E.g.

[code]

[2017-09-14 20:32] chris9r commented on #153
@emadum

`{
   "redis": {
      "path": "/tmp/redis.sock"
   }
}`

That worked! Thank you all so far!

[2017-09-14 20:32] #153 closed

[2017-09-18 07:08] chkaligx commented on #153
@cjus @emadum

Can someone add this information to the docs?

[2017-09-18 11:12] cjus commented on #153
@chkaligx added here: https://www.hydramicroservice.com/docs/hydra-core/redis-config.html
@emadum thanks for investigation and clarification.

[2017-10-04 10:27] Schavras commented on #111
Greetings! Can I try to work on this one?

[2017-10-04 11:25] cjus commented on #111
@Schavras yes that would be awesome!

[2017-10-11 07:30] jeffwad commented on #142
@skalyanapu-mtuity - we've integrated swagger into our hydra services. I'm snowed under right now, but will have time to help you after the 23rd October.

[2017-10-24 08:44] rantecki opened #155 "if shutdown message is first message in health log then it never expires"
Hi there,

I've been playing with a test setup of Hydra for a few days and doing a lot of starting/stopping of services in the process.  I've noticed that Redis is slowly filling up with `hydra:service:*:health:log` keys from the beginning of time.  These keys appear to be persistent.

E.g.

[code]

Looking deeper into it, I notice that `expire` is called on the `*:health:log` keys as part of `upd

[2017-10-24 16:12] cjus commented on #155
@rantecki Thanks for submitting this! The health:log key is set to expire in one week.
https://github.com/flywheelsports/hydra/blob/master/index.js#L713
Please let us know if that's not working.

[2017-10-24 22:19] rantecki commented on #155
Hi @cjus, as explained in the issue, this is not working for me.

[2017-10-25 19:09] cjus commented on #155
@rantecki will further look into this today.

[2017-10-26 18:11] cjus commented on #155
@rantecki I pushed hydra and hydra-express 1.4.26 which includes improved key expiration logic. However, that fix won't clean-up old keys. You may need to bring down services and issue a Redis `flushdb` command.  Make sure you're comfortable doing that, and that you first issue a `select 15` to switch to the DB that hydra uses.

[2017-10-26 23:38] rantecki commented on #155
Thanks @cjus, that definitely seems to have fixed the problem.

I notice though that the health:log keys are now set to expire in `KEY_EXPIRATION_TTL` which is 3 seconds.  That's a big jump from 1 week.  Just wondering if that was intentional or perhaps a mistake?

[2017-10-30 02:47] tybq93 opened #157 "Combine REST with Socket protocol in microservice architecture"
hi, firstly, i must say this is super cool project, and i very love it. But i have some confuse, if you have time, please explain clearly for me.

i want to build a microservice, Client will call to one``` main service``` by HTTP, and then ```main service``` call to another service by message (websocket). But how i can skip the HTTP request and wait the message go to all other services, get the re

[2017-10-31 04:48] tybq93 commented on #157
@cjus do you have any idea about it? :D many thank

[2017-10-31 17:22] cjus commented on #155
@rantecki You're correct. That's now fixed in 1.4.27.

[2017-10-31 17:22] #155 closed

[2017-10-31 17:30] cjus commented on #157
@tybq93 since this isn't but rather a question about architecture I invite you to join our slack channel. While you're considering that I can say that HTTP and messages (socket) can be combined at will. You can have an HTTP endpoint which in turns sends another service a message via hydra.sendMessage.

Hydra doesn't offer a messaging synchronization feature to keep track of messages sent and ackno

[2017-11-01 03:09] tybq93 commented on #157
yeah, i mean websocket is via HydraRouter.
for example:
step 1: client ----`call http api to get list post`---> API Service
step 2: API Service ----`sendMessage get list post to PostService` ----> PostService
step 3: PostService  --- `sendMessageReply back to APIService` -----> API Service
step 4: API Service ---`send result back`----> Client

but the problem here is we can not delay the `step 1`

[2017-11-01 13:13] cjus commented on #157
Correct that doesn't sound possible. It's an issue of whether you close the HTTP connection in step one or leave it open pending a response.  The way we do this is that we create websocket connections to HydraRouter (from mobile devices) and then our microservices able to route message responses back out through hydraRouter to specific devices.  This isn't fully documented and I need to do a write

[2017-11-01 13:13] #157 closed

[2017-11-01 13:14] cjus commented on #147
@danielsan can I close this or should we label it help wanted?

[2017-11-10 12:43] skalyanapu-mtuity commented on #142
Okay , thanks for time @jeffwad

[2017-11-10 12:53] skalyanapu-mtuity opened #160 "SWIM membership protocol integration ??"
Hi @cjus,

Instead of centralized services registry using, how about the integration SWIM membership protocol.
  - Though we create Redis cluster services registries and load balance them, which involves again resource
     consumption and network hops.
  - Pattern matching, with no or minute dependency with location of the other MS, when there are being
    called by another MS.
  - How matured i

[2017-11-10 14:01] cjus commented on #160
Hello @skalyanapu-mtuity

Good questions. Hydra is indeed production ready - as defined by companies which are successfully and significantly using Hydra in their own production environments. And there are perhaps more companies which use Hydra in smaller less critical areas of their infrastructure.

There are currently no plans to move away from Redis.  To be honest I see Hydra forking if it were

[2017-11-11 04:47] skalyanapu-mtuity commented on #160
Hi @cjus ,

We referred Seneca , before coming here. Hydra looks more flexible in creation  of MS and maintenance than Seneca , few things we're looking for were does , Hydra have

 - SWIM compatibility , (you answered already) actually impressed with Richard Rodger's effort towards SWIM integration, which reduces extra overhead and maintenance of  exclusive service registry.
- We already some MS

[2017-11-18 01:04] cjus commented on #160
@skalyanapu-mtuity sorry for the delay. We've just launched a major product at work. Hydra is a low-level library and many of the things you're looking for can be added as plugins.  For example, auth libraries, logging and promises / async etc...  We're currently focused on optimizations to Hydra but welcome community contributions.

[2017-11-19 11:57] skalyanapu-mtuity commented on #142
Hi @jeffwad ,
Can you please brief about how swagger was integrated to Hydra , and how we can use it ?? link is it a standalone npm ?? or some other kind ??
Thanks for your time:)
Sai.

[2017-11-21 13:44] cjus commented on #152
Fixed in Hydra 1.5.5

[2017-11-21 13:44] #152 closed

[2017-11-21 13:45] cjus commented on #136
This is currently by designed and won't be fixed.

[2017-11-21 13:45] #136 closed

[2017-11-28 20:18] cjus opened #165 "Consider supporting YAML for hydra configs"
This might be useful.
https://www.npmjs.com/package/node-yaml

[2017-12-23 00:19] ardani opened #167 "possible Integrating to nestjs?"
hi @cjus
i'm very excited want to use hydra in my new project, this awesome we can manage service easily,
i have question it possible integrating to [nestjs](nestjs.com)?
may be you have suggest for me?
thanks

[2017-12-27 15:33] cjus commented on #167
Hi @ardani I admit not having heard of nestjs (https://nestjs.com/) before your post.  Since Nestjs relies on both ExpressJS and Redis (as does Hydra) it does seem possible they work together.

[2018-02-01 08:59] huyaloha opened #168 "[Question] Integrate with Awilix for DI"
Hi @cjus,
I'm using Hydra for my project with Awilix. Everything work fine with Awilix and Awilix-express for REST API.
However, I'm facing a trouble to resolve objects when handle inter-service message. It's failed to resolve because there is nowhere to inject container when the hydra.on() get fired.

Do we have any ways to add inject container into (like app.use(middleware-to-inject-container)
`

[2018-02-01 13:56] cjus commented on #168
@huyaloha can you format your code above using three backticks ```
I'm not familiar with `awilix` - although I started looking at it after reading your post.
Are you using hydra-express?

[2018-02-01 16:09] huyaloha commented on #168
Yes, I'm using hydra-express and have no issue with Routers. Only got issue with hydra.on(message)

[2018-02-02 03:04] #168 closed

[2018-02-02 03:04] huyaloha commented on #168
The issue comes from my code itself. Close ticket.

Thanks

[2018-02-04 20:18] emadum opened #169 "Performance improvement: Pub/sub should pass messages by reference"
Messaging systems work best with small message payloads. Redis in particularly suffers huge performance losses when pub/sub message payloads get large.

Since UMF messages already have a unique message ID, we can cache the message payload in redis when a message is sent and send the message ID over pub/sub, minimizing the message payload.

[2018-02-05 10:38] alvarg93 opened #171 "Proxying socket.io connection"
Hello everyone,
I am looking for some advice on how to best handle proxying of socket connections. I am using the API Gateway pattern to expose a single point of entry. REST requests are forwarded using `hydra.makeAPIRequest()` and they call appropriate services.

I am struggling a bit with how to handle Socket.io connections, not to expose our Notification Service directly. There are some package

[2018-02-05 16:18] cjus commented on #171
@alvarg93 Have you considered using HydraRouter which already has support for websocket message routing to microservices?  In Hydra-router an incoming websocket call can be translated (automatically) to a REST call.  https://www.hydramicroservice.com/docs/tools/hydra-router/

[2018-02-06 08:11] alvarg93 commented on #171
I'll take a look, thanks 🙂

[2018-02-14 14:04] sjmcdowall opened #172 "Question(s) on using Message Queues"
First -- loving the project.  We are looking at this instead of a low-level Redis/Kue for implementing our microservices.  However, I do have a question (or two) as it comes to our desires (and maybe best practices tips!) ..

We have a bunch of "work queues" for our services -- things that can take some time to process and the more often than not -- invoke another step in the "recipe" of what need

[2018-02-15 06:32] emjimadhu opened #173 "How to send UFM message from non-hydra server to hydra micraservice?"
HI all, First of all thanks for this awesome service.

I have a expressjs app (non hydra), and two microservice (hydra-express). i want to send a request to microservice from express app. i tried sample message from documentation. but it gives error. can you guys point me out how to implement message from non-hydra app to hydra microservice?

[2018-02-15 10:37] sjmcdowall commented on #173
Hello Em Ji Madhu!

I am new to this as well, so this could be a good learning experience as I try to understand all the magic here too!  :)

From all the documentation I have read what you want to do should be pretty easy so that is good!

Can you share the code you are using to try to invoke the service and the output from when you run the service (it has nice information) and of course what act

[2018-02-15 12:53] cjus commented on #171
@alvarg93 let us know if you have further questions. Please close this ticket if not. ;-)

[2018-02-15 13:02] cjus commented on #172
@sjmcdowall Thanks for your interest in Hydra. Lot's of great questions above. The shortest answer is that Hydra can be part of your solution but not, perhaps all of it. Hydra message features are not designed to replace a full-blown messaging queuing system. Great choices include Kafka, MQTT, RabbitMQ and many others.

It would take a blog post to answer all of the above. And we're painfully awar

[2018-02-15 13:07] cjus commented on #173
@emjimadhu You can simply send an HTTP RESTful request from an expressjs app to any hydra-express app which has exposed an endpoint.  The body of that message (assuming POST) can be a UMF message. Sending messages between hydra/hydra-express apps only needs the hydra.sendMessage call.

If you'd like to send websocket messages to hydra-express apps from other services you can also do that via our H

[2018-02-15 13:41] sjmcdowall commented on #172
Thanks Carlos!  I have emailed (you?) to join the slack channel ..

Cheers!

[2018-02-16 09:46] sjmcdowall commented on #169
My gut tells me there is a "cutoff" in payload size where doing this makes sense but just keeping the message in the payload makes sense to avoid another trip to Redis for EvERY message.  I can't imagine too many messages being passed that the receiver doesn't need the payload for it to actually do work.  So, that process would need to fetch the payload from Redis (somehow?)

This is fine for LARG

[2018-02-16 13:39] sjmcdowall commented on #172
Joined Slack community so closing this "issue" .

[2018-02-16 13:39] #172 closed

[2018-02-16 14:13] emadum commented on #169
Yes you're 100% right. We did a little benchmarking of this PR and that quickly became obvious.

I've been busy lately, but plan on doing some more benchmarking using 1k, 5k and 10k message size cutoffs.

[2018-02-16 14:23] sjmcdowall commented on #169
I would go even more than that unless someone knows the “Redis” limit of bad payload sizes (I haven’t seen one).

Perhaps the benchmarks should go a “logarithmic” route and start with like 1K  10K 100K 1M 10M 100M 1G   (the last should probably be enough!!)  :)

I would also suggest, if going this route, serious consideration be made to look into possible compression of payload to/from Redis.  Aga

[2018-02-16 17:15] cjus commented on #173
@emjimadhu `serverName` cannot be blank.

[2018-02-17 06:03] emjimadhu commented on #173
@cjus hey thank you for the reply. the server i am communicating from is not a service. just like it said in the below image, i made it blank. or am i understood wrong.

![screenshot from 2018-02-17 11-30-29](https://user-images.githubusercontent.com/15604962/36338484-44c343b8-13d6-11e8-9810-c59fd1ec9cb1.png)

if i am wrong, what i have to do next? my scenario is i have a server and i want to comm

[2018-02-19 03:08] cjus commented on #173
@emjimadhu I see. I also went back to take a closer look at your sample program above. So you're initializing hydra in an express route? and trying to use the hydra. findService call to locate the firebase-service?

I recommend initializing hydra in your app initialization (main js file) and then importing hydra in your route file using:

[code]

Then later you can call hydra.findService('firebase

[2018-02-19 04:07] cjus commented on #173
@emjimadhu So there is an issue with the documentation or perhaps I'll fix in an updated hydra release. `serviceName` is required and can't currently be blank.  So here is a sample config.json file which does contain a serviceName.

[code]

This Sample program shows a basic express app which loads hydra and attempts to locate information about hydra-routers which may be loaded. In your case that w

[2018-02-19 07:14] emjimadhu commented on #173
@cjus Thank you so much. It worked.

[2018-02-19 12:40] cjus commented on #173
You're welcome! I'm closing out this issue.

[2018-02-19 12:40] #173 closed

[2018-02-19 12:49] cjus commented on #140
Updated at: https://www.hydramicroservice.com/docs/hydra-core/hydra-methods.html

[2018-02-19 12:49] #140 closed

[2018-02-19 12:50] cjus commented on #111
This was an old ticket that was resolved some time ago.

[2018-02-19 12:50] #111 closed

[2018-02-22 14:51] sjmcdowall opened #174 "_sendMessage may have a possible silent failure"
Looking at the _sendMessage code .. I think we have a corner case condition where we can silently fail to send a message ..

Use Case:  Invoke sendMessage with an invalid (or dead) specific instance ID .

https://github.com/flywheelsports/hydra/blob/master/index.js#L1385

[code]

The code appears to blindly accept the instance given .. even if it is either totally bogus or not - running.  It seems

[2018-02-22 15:25] sjmcdowall opened #175 "_sendMessage should use _reject()"
https://github.com/flywheelsports/hydra/blob/master/index.js#L1364

According to the "specs" for the function, on error(s) the method should call a reject .. but in all instances it actually invokes resolve() with an error message.  Besides breaking the contract -- it probably should throw a reject() on errors.

Suspicious lines:

https://github.com/flywheelsports/hydra/blob/master/index.js#L1382

[2018-02-22 15:30] sjmcdowall opened #176 "_checkServicePresence throws a reject although it says it will never do so"
https://github.com/flywheelsports/hydra/blob/master/index.js#L941

According to the "contract" this method should never throw a reject() -- yet it does here:

https://github.com/flywheelsports/hydra/blob/master/index.js#L973

[2018-02-22 15:42] sjmcdowall opened #177 "Opinion: _checkServicePresence should not shuffle resultant array"
https://github.com/flywheelsports/hydra/blob/master/index.js#L985

I don't believe (obviously my opinion) that this routine should go ahead and randomize the results of the services.  That's not really part of it's contract.  Also -- this is a "lower" level routine that gets called "often" and any sort of "Shuffle" routine is O(N) at a minimum .. i.e. it takes at least SOME processing time and pro

[2018-02-23 18:25] cjus commented on #174
@sjmcdowall you are correct. The `instances` value here should be used to confirm an instance is available - if indeed the message in question directly references an instanceID in the UMF message `to` field.  Otherwise, any available instance should be used.

https://github.com/flywheelsports/hydra/blob/master/index.js#L1378

[2018-02-23 18:28] cjus commented on #175
@sjmcdowall the code does what we want. However, the JSDOC should be updated to reflect the usage.

[2018-02-23 18:30] cjus commented on #176
@sjmcdowall correct. ;-) Doc should be corrected to reflect what really happens.

[2018-02-23 18:36] cjus commented on #177
@sjmcdowall First some history ;-) . The reason for the shuffle is to offer load balancing through randomization of available instances.  The arrays in question should be small... since they're per microservice type. So if you have a file-processing microservice and you have 100 running instances then the array would only be 100 elements long.

Instance data is cached for up to three seconds for p

[2018-02-23 18:55] sjmcdowall commented on #177
So -- if I am reading this right -- if I have some "high-speed" stream of data from say a Kafka source .. and "route" it to a service.. say .. oh .. 100 msgs/sec .. 300 messages will all be routed to the exact same service -- which doesn't seem too "random" to me.  :)    Where as in my suggested implementation each message is guaranteed to go to a random available service..  I still may just imple

[2018-02-23 19:03] cjus commented on #177
That's a valid point. A potential fix is simply to shuffle the cached array here: https://github.com/flywheelsports/hydra/blob/master/index.js#L957

I'm open to seeing a PR... you know the saying... "Running code speaks volumes" Go for the PR ;-)

[2018-02-23 20:38] cjus commented on #177
@sjmcdowall I did a bit more research.  I need to point out that the reason shuffling the instance array is necessary is because the same array is used by both the `_makeAPIRequest` call here: https://github.com/flywheelsports/hydra/blob/master/index.js#L1325 and the `_sendMessage` call  here https://github.com/flywheelsports/hydra/blob/master/index.js#L1377

The important bit is that the makeAPIR

[2018-02-24 16:06] sjmcdowall opened #178 "Various improvements possible in mocha test cases"
1 -- There appear to be 3 duplicate tests in test.js
https://github.com/sjmcdowall/hydra/blob/master/specs/test.js#L182
https://github.com/sjmcdowall/hydra/blob/master/specs/test.js#L239

https://github.com/sjmcdowall/hydra/blob/master/specs/test.js#L198
https://github.com/sjmcdowall/hydra/blob/master/specs/test.js#L255

https://github.com/sjmcdowall/hydra/blob/master/specs/test.js#L219
https://gi

[2018-02-25 03:59] #160 closed

[2018-02-25 03:59] #147 closed

[2018-02-26 14:44] cjus commented on #178
Cut and paste no doubt. PR?

[2018-02-26 14:46] cjus commented on #142
@jeffwad @skalyanapu-mtuity any movement on this? Should we close this issue?

[2018-02-26 14:59] cjus commented on #177
@sjmcdowall at the very least... this line `Utils.shuffeArray(instanceList);` https://github.com/flywheelsports/hydra/blob/master/index.js#L987 should be copied up to L:959 before the resolve.  That would solve a bug where the presence map isn't random for the duration of the cache - which is currently 3 seconds.

[code]

[2018-02-26 15:04] sjmcdowall commented on #177
Yes I am looking at the code now

Btw - nice job implementing an actual good random shuffle using Fisher-Yates!!

I’m pretty much done making sure I have the use cases covered ..

Now .. how to do Unit Tests Reaganism to be seen ..

Sent from my iPad

[2018-02-26 15:08] cjus commented on #177
Thanks. Actually, the docs should point out the algorithm name ;-)
https://github.com/flywheelsports/hydra/blob/master/lib/utils.js#L104

[2018-02-26 15:54] sjmcdowall commented on #176
Fixed by pr # 181

[2018-02-26 15:54] #176 closed

[2018-02-26 15:55] sjmcdowall commented on #178
Fixed by https://github.com/flywheelsports/hydra/pull/180

[2018-02-26 15:55] #178 closed

[2018-02-26 23:31] cjus commented on #177
addressed in #183

[2018-02-26 23:31] #177 closed

[2018-02-27 12:09] sjmcdowall commented on #174
Fixed by https://github.com/flywheelsports/hydra/pull/182

[2018-02-27 12:09] #174 closed

[2018-02-28 13:08] sjmcdowall commented on #175
This was fixed in PR#182 ...

[2018-02-28 13:08] #175 closed

[2018-02-28 13:11] sjmcdowall commented on #165
I see PR#166 in theory handles this Issue .. but nothing on the PR request has happened??

[2018-02-28 13:27] cjus commented on #165
The issue I raised privately (@taurenk and I work together) is that of adding another dependency. At one point I was on a crusade to slim Hydra (core) in size. My reason was that I wanted us to be able to claim that Hydra is a light-weight library.

I routinely use `cost-of-modules` to check on size.

[code]

One way to support this might be to build a HydraPlugin (https://github.com/flywheelsport

[2018-02-28 14:37] sjmcdowall commented on #165
Personally I don't have a "dog in this hunt" as it were -- I'm a TOML fan :)  The reason I bring this up though is because for those looking from the outside -- seeing "old" PR requests apparently "ignored" is not a good sign for an Open Source project.  The goal should be to merge or reject PR's ASAP .. and not leave them lingering .. But that's my opinion ..

[2018-02-28 16:29] cjus commented on #165
@sjmcdowall thanks for the feedback. I've asked @taurenk to review here.

[2018-02-28 18:19] sjmcdowall commented on #5
Lol I just working on this!!

[2018-03-01 14:55] sjmcdowall commented on #5
Can be closed -- fixed by PR#185

[2018-03-06 10:41] #171 closed

[2018-03-06 15:08] sjmcdowall commented on #5
@cjus -- Really can close this again as fixed..  :)

[2018-03-12 16:51] sjmcdowall commented on #5
Really really can be closed @cjus :)

[2018-03-12 21:39] #5 closed

[2018-03-30 11:29] rantecki opened #192 "A warning about storing application data in the same Redis db as Hydra metadata"
I've just learned the hard way that it is NOT a good idea to mix your application data with Hydra's data in the default Redis database (db 0) if your services generate a lot of keys.

I've just spent an entire day trying to get to the bottom of very puzzling performance issues of a large system we launched a few days ago.  As the number of keys in Redis kept climbing, the system got slower and slo

[2018-03-30 12:45] sjmcdowall commented on #192
Very interesting — and yes, I would think it would always be a pretty good to isolate such different work loads.

However, it does make me wonder if there isn’t some inherent performance issue with checkPresence itself as well.  That behavior sounds odd (the high on the resources) under load…

[2018-03-30 13:52] cjus commented on #192
@rantecki thanks for your investigation and post!  The issue you discovered is true of any Redis command that matches. `keys` is particularly bad in that context.

We learned of that issue early on and ALWAYS choose Redis DB #15 to store hydra keys.  Also, we're moving towards using a dedicated Redis cluster for Hydra and let our microservices use another Redis cluster if they need Redis functiona

[2018-03-31 12:09] rantecki commented on #192
Yes, well I guess my thought process was that Hydra's already doing all the hard work in connecting to Redis, so I'd just piggyback off that and use the same connection.  It saved me some time when building the initial prototype.

Anyway, now that that's been sorted out the whole thing is running pretty smoothly now, so well done for building such a great platform.

[2018-03-31 12:09] #192 closed

[2018-05-01 01:00] flowt-au opened #193 "Run in browser?"
Hi.
I am exploring using microservices as a way to compose a web-app ie run it in a browser. I am transitioning from "old school" monolithic to microservices and am fairly new to Node etc.

The app has lots of business logic in the client with data storage a mixture of server via REST/JSON and local data via pouchdb.

The initial iteration was MVC which got messy pretty quickly. Next was MVVM whic

[2018-05-01 11:51] cjus commented on #193
@flowt-au super interesting! Hydra isn't designed to run in the browser. The first issue that comes to mind for me is the singular dependency on Redis.  If your goal is to use web browser technology that would be one thing - but if the intent is also to have clients running in browsers by end users - then each would need access to a shared Redis instance (or cluster) over a public Internet.  That

[2018-05-01 22:24] flowt-au commented on #193
Thanks Carlos,

Basically, the app is for small to medium organisations for authoring
and sharing internal documents across the net. I wont bother with
details here - suffice to say it does things that go beyond the scope of
say Google docs and the like and is quite internally complex. We are in
Beta at present and have happy users which is good.

However, I am looking down the path at needing to

[2018-05-02 14:58] cjus commented on #193
@flowt-au seems like micro-frontends approach could benefit from microservice backends which in addition to API might also serve portions of the component based UI.  At least if I'm understanding it correctly.  So in that way, hydra isn't ported to the front-end - but rather runs in the backend in service of micro-frontends.

[2018-05-02 21:31] flowt-au commented on #193
@cjus Yep, that could be part of it. And I am still playing with the idea of making the front-end a composition of microservices.

Take a simple example: the title of a document is changed by the user - eg an internal Policy document. This title is listed on various UI components - the actual number of which depends on what bits of the app the user has currently open. The change is also sent to th

[2018-05-02 22:04] flowt-au commented on #193
PS: Just to be clear, I am not asking you to port Hydra. I am just thinking about whether microservices on the client side is a good idea or not, and if so, how it might be implemented. Thanks again.

[2018-05-03 09:47] cjus commented on #193
I do think that applying microservice ideas on the client-side is a good idea. Although admittedly I hadn't considered this before your post. Most of my current work has a backend focus.

Have you considered server-side rendering and the implications that would have for front-end microservice like composition?

[2018-05-03 11:35] flowt-au commented on #193
@cjus Yes, I have considered the server-side rendering issue. Do you mean rendering views? If so, that is only a small part of the bigger picture. For me, the more important issue is the way the business logic is composed. I guess my previous post *was* mostly talking about a view (the policy document title change) but there is still a lot of business logic associated with even that seemingly simp

[2018-05-03 14:19] cjus commented on #193
@flowt-au I do find the ideas more than intriguing. I believe they're actually the future of front-end development. So I was thinking of handling more than just view rendering server side. It's also the best place for logic and "engines".

Richard Rodger does advocate a "message first" approach - which I'm also in favor of.  It's the pattern matching I'm not entirely on board with.  Have you check

[2018-05-03 22:00] flowt-au commented on #193
@cjus Yes, I have looked at Seneca. And others like [Cote](https://github.com/dashersw/cote).

I have also been looking at [WebWorkers](https://medium.freecodecamp.org/how-web-workers-can-help-with-consistent-asynchronous-tasks-in-javascript-cd6d728fa4ee ) which uses [MessagePort](https://www.w3.org/TR/webmessaging/) under the hood.

I am thinking that using a message pattern match (like Seneca or

[2018-05-03 23:52] flowt-au commented on #193
@cjus Yes, I have looked at Seneca. And others like [Cote](https://github.com/dashersw/cote). All only run in Node (not browser).

I have also been looking at [WebWorkers](https://medium.freecodecamp.org/how-web-workers-can-help-with-consistent-asynchronous-tasks-in-javascript-cd6d728fa4ee ) which uses [MessagePort](https://www.w3.org/TR/webmessaging/) under the hood.

I am thinking that using a m

[2018-05-06 23:32] flowt-au commented on #193
And this: https://www.youtube.com/watch?v=vm_oOghNEYs

[2018-05-06 23:33] flowt-au commented on #193
And this: https://www.youtube.com/watch?v=vm_oOghNEYs
[https://bitsrc.io/](https://bitsrc.io/)

[2018-05-24 19:10] danielo515 opened #198 "Pattern matching"
Hello,
I'm doing a deep research of all the microservices frameworks out there. I've checked Seneca, Hemera, Moleculer and now hydra.

Something I really like from Hemera and Seneca is pattern matching. This feature really allows incrementally adding features. As a bonus there is absolutely no need to know which service can handle the message beforehand, super cool.

Hydra has another thing that I

[2018-05-30 15:42] danielo515 commented on #198
We are taking Hydra in consideration for starting a new project, however this feature is important to us and I would like to have it clarified.

Regards

[2018-06-05 15:34] danielo515 commented on #198
Does not support, and will never support I guess ?

[2018-06-05 17:04] cjus commented on #198
@danielo515 we're always up for a PR!  Even a write-up of what others are doing would be a great way to kick this off! That way we can at least start discussion until someone picks up the feature.

[2018-06-06 05:27] danielo515 commented on #198
Hello.
Do you mean a writeup on this same issue or something more like an article or blog post?

[2018-06-06 11:07] cjus commented on #198
I was thinking more of a proposal document. Once which lists requirements or features.  A doc which looks at what others are doing and says "it would be cool if hydra did this..."  The document doesn't have to be long and can, in fact, be opinionated.  Such a document would help to start a conversation.

[2018-06-06 11:20] cjus commented on #198
@danielo515 BTW, have you read Richard Rodger's book "The Tao of Microservices"?

[2018-06-07 07:42] danielo515 commented on #198
HEllo @cjus

No I did not, but I think I will. I am reading buliding microservices with node.js, which uses seneca. Maybe I could read that one after. Thanks for your suggestions.

[2018-06-07 10:21] sjmcdowall commented on #198
@danielo515 -- The author of The Tao of Microservices is the primary author of Seneca :)

[2018-06-08 06:38] danielo515 commented on #198
@sjmcdowall
Absolutely. I read several blogs post of the Seneca author (which I'm unable to find again :sad:). He has very good ideas and a very good vision about how to make something scalable and extensible. I will read the book for sure

[2018-06-13 09:40] FDT2k opened #199 "Nodejs crashes when redis connection dies - How to handle it ?"
Hi,

I'm considering using hydra for a small project but I have a big problem. When I restart redis, all the related microservices crashes.

I tried to tweak the retry_strategy but I'm a bit lost.

How can I catch theses exceptions or prevent them ?

  serviceName: 'my-awesome-microservice',
  type: 'error',
  processID: 1953,
  msg: 'Established Redis server connection has closed' }
Unhandled Exc

[2018-06-14 12:06] cjus commented on #199
@FDT2k Yes and that's by design. In a containerization environment (we use Docker Swarm) a Restart of Redis would cause services to restart.  There is a retry period in Hydra which is supposed to retry connecting to Redis for a period.  We are aware that this restart logic needs some work. PRs and feedback are definitely welcomed!

[2018-08-22 13:04] aviyacohen commented on #42
Hey I would like to reopen this issue.

I want to calfiry what it is that both I and also (i think) @linde12 were trying to achieve.

I have 1 router service. It is listening to RESTful requests. When it gets a request it takes the post data and transfers it to another service via  sendMessage(). The other process is built to take the data, process it, and return the result. The problem is that se

[2018-08-22 13:06] aviyacohen opened #203 "sendMessage() callback functionality"
Hey I would like to reopen this issue.

I want to calfiry what it is that both I and also (i think) @linde12 were trying to achieve.

I have 1 router service. It is listening to RESTful requests. When it gets a request it takes the post data and transfers it to another service via sendMessage(). The other process is built to take the data, process it, and return the result. The problem is that sen

[2018-09-03 08:30] kunwejry opened #204 "Init hydra again after shutdown"
How can I init my service again when I shudown it.

[2018-09-12 06:59] rantecki opened #205 "Redis streams?"
**TL;DR:** Would it be better to use Redis streams for inter-service messaging?

A bit of background first: I've been using Hydra for a little while in production.  One common complaint that has fed back to me is the occasional occurrence of timeouts when handling client requests (i.e. a sent message never gets a response within the accepted timeframe).  So I've been looking into what I can do abo

[2018-09-13 03:08] cjus commented on #205
@rantecki First off thank you for the detailed post above.  We've been tracking Redis Streams for some time and they were well discussed at this year's [RedisConf](https://www.youtube.com/playlist?list=PL83Wfqi-zYZEx50eIRmcvpvw1kFDUzwy_) in San Francisco. The use of streams is of great interest to us as we've also explore the use of Kafka - but would rather use Redis where possible.

The single bi

[2018-09-16 00:00] rantecki commented on #205
Thanks for the input @cjus .  I didn't realise Redis 5 was so recent (and it turns out actually still in beta - which would probably be a big issue for most production deployments).

I may go ahead with my own experimental implementation, either via plugins or not.  I'm pondering the benefits of moving all explicit core functionality (e.g. messaging, service lookup) to plugins, so the core of Hydr

[2018-09-16 00:00] #205 closed

[2018-11-15 15:18] zippyzow commented on #132
I'd like to take a stab at this. Is this headed in the right direction?

[https://github.com/flywheelsports/hydra/compare/master...zippyzow:typescript-declarations](url)

[2018-11-15 15:24] cjus commented on #132
@zippyzow The current thought is to build Hydra 2.0 using TypeScript.  But that would be for Hydra 2 and not Hydra 1.x - so it definitely makes sense to do that for 1.x in prep for 2. Thanks for tackling this!

[2018-12-22 20:38] leonardorifeli opened #207 "Disable redis connection"
I'm using hydra to a single small gateway API.
How to I disable redis connection? Do that's possible?
Thanks.

[2018-12-27 17:53] emadum commented on #207
You could use [redis-mock](https://www.npmjs.com/package/redis-mock).

[2018-12-28 17:16] leonardorifeli commented on #207
Thanks, @emadum. But, to use redis-mock only, you can set `testMode: true` on properties file.

My properties file:

[code]

[2018-12-28 17:16] #207 closed

[2019-06-24 08:29] GarrusNapp opened #211 "Documentation - init object"
```hydra.init()``` expects `{hydra: {...}, ...}` object but the documentation states otherwise:

https://www.hydramicroservice.com/docs/hydra-core/getting-started.html

[2019-08-24 10:09] abdoolly opened #212 "Documentation website is down https://www.hydramicroservice.com"
The documentation website is down.

[2019-09-10 11:46] abdoolly commented on #132
Hello all,
I have made declarations for Hydra and Hydra express and added a layer above them to allow for the use of controllers , middlewares  and dependency injection (using [inversify js](http://inversify.io/))

Also if you want to use the declarations alone the interfaces are exposed so you can use them however you wish

this is the package that provide all that
[https://www.npmjs.com/package/

[2019-09-17 03:33] #212 closed

[2019-09-17 03:42] abdoolly opened #213 "Hydra on kubernetes is not dealing well with redis cluster mode or master-slave mode"
I am currently trying to deploy hydra on kubernetes so , I have been trying to make it work with redis in high availability modes.

- First the redis sharding or the cluster mode
There is a problem using this mode with hydra since the **SELECT** command in this mode is disabled because the cluster mode does not support multi databases.

- Second mode is the master-slave mode
The problem here is th

[2019-10-14 12:55] tiholm opened #215 "Ignoring logging of configured url path"
I am using health check path inside a Hydra microservice, for example path could be /health and it is called every 30th second. This generates lots of noise in logs, because each log request gets logged by HydraExpressLogger, which internally uses pino-http logger, if I am correct. Could there be some configuration to ignore given path logging?

[2020-05-22 05:16] rsegecin commented on #167
@ardani Have you tried integrating nestjs and hydra? how's your experience so far with it?

[2020-09-03 17:26] Grandnainconnu opened #216 "Is this project still active?"
Hello, I was wondering if this project is still active and maintained?
Because when compilation there is quite a bit of warning including critical ones.

I also saw a `v2` branch in typescript, is it ready to use too?

Thank you in advance.

[2020-09-03 18:22] cjus commented on #216
@Hetarnam yes - the project is very much alive and in production use at various companies. I moved the project after leaving Flywheel Sports and losing the resources that would continue to support the project. The TypeScript branch is dead - but not for lack of interest in moving to typescript - but rather a loss of resources devoted to the effort.   I'm currently working on a video tutorial cours

[2020-09-03 19:08] Hetarnam commented on #216
Ok! Thank you for your answer, everything is opened for PR then?

[2020-09-03 19:15] cjus commented on #216
Yes, but unless it's a bug fix it might be a good idea to first ask what you're interested in working on. ;-)

[2020-09-03 19:27] Hetarnam commented on #216
What needs to be improved now then?
And maybe the typescript branch would be a good idea?

[2020-09-03 19:47] cjus commented on #216
Would you like to join the hydra slack channel to discuss?

[2020-11-22 13:09] Technikkeller commented on #216
I would too ^^
Should I send you a email?

[2020-11-22 13:14] Technikkeller commented on #132
I wrote definitions for hydra and hydra-express too, but currently just using them in my private projects, maybe I rework them a bit and add a pr to DefinitelyTyped.

[2020-11-22 13:14] Technikkeller commented on #132
Or here If you are welcome to add them to the package directly

[2020-11-22 14:58] cjus commented on #216
@Technikkeller yes the project is very much still active. I just sent you an invite.
In fact, we have a HydraPy for Python under development as well. https://pypi.org/project/hydra-py/

[2020-11-22 15:01] cjus commented on #132
@Technikkeller that would be greatly appreciated. Let's chat on Hydra slack.

[2021-04-20 03:01] tylerhutcherson commented on #203
We had the exact same use case (sorry I am late to the party here) and ended up solving it by implementing some custom code on our end. While hydra does not register a callback method out-of-the-box, it's pretty easy to construct a routing table that maps the outgoing message identifier to an anonymous callback function to handle the response.

Assuming you're sending a UMF message to some other m

[2021-04-20 03:01] tylerhutcherson commented on #203
@cjus Can also chime in since he designed the routing table approach on our end :)

[2021-09-24 20:59] codevalve opened #219 "Dependancy upgrades required to mititage vulnerability"
# Redis

## Overview
In redis before version 3.1.1, when a client is in monitoring mode, the regex begin used to detected monitor messages could cause exponential backtracking on some strings. This issue could lead to a denial of service.

### redis  2.6.0 - 3.1.0
Regular Expression Denial of Service - https://npmjs.com/advisories/1662

[2022-02-03 21:28] jimjones26 commented on #216
I would love to get an invite to the hydra slack channel.

[2022-02-14 14:41] #216 closed

[2022-05-19 02:54] mindesik opened #220 "sendReplyMessage to sender instance"
Is this possible to send reply to sender node (if have multiple instances running)?

[2022-05-20 15:05] cjus commented on #220
@mindesik yes you only need to prefix with the sender hydra.instanceID.  Let me know if the information on the following page isn't helpful: https://www.hydramicroservice.com/docs/hydra-core/messaging.html

[2022-05-20 22:58] mindesik commented on #220
@cjus thanks, but how to use this with sendReplyMessage?

[2022-06-01 14:52] #220 closed